DEBUG=1
SECRET_KEY='django-insecure-@vk^_x_2b1rns*i(mghb=ciex2qik6bz_nq5)(zxl7q#0@s%br'
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] 0.0.0.0
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=products
SQL_USER=user
SQL_PASSWORD=user
SQL_HOST=db
SQL_PORT=5432
